body{
  background-color: grey;
  display: inline-block;
  text-align: center;
  width: fit-content;
}



.card_img{
  width: 265px;
  height: 340px;
  margin: 5px;
  border: 2px solid black;
  
}

.cards{
  background-color: honeydew;
   display: inline-block;
  text-align: center;
  padding: 10px;
  /* background-color: seagreen;  */
}

h1{
  text-align: center;
  color: maroon;
  font-family:serif;
}



 .card_info{
   padding: 15px;
   margin: -20px;
 }

 .card:hover{
    background-color: springgreen;
    
  
 }

 button:hover{
   background-color: brown;
  
 }